* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.flexbox {
    display:flex;
}

body {
    background-color: #020204;
    flex-direction: row;
}

nav {
    margin: 1vh 1vw;
    width: 15vw;
    height: 98vh;
    position:fixed;
}

.navbar {
    flex-direction: column;
    list-style: none;
    text-align: center;
    width: 100%;
    height:95%;
}

.navbar > li {
    width: 90%;
    height: 10vh;
    margin: 1vh auto;
    background-color: #3e2c41;
    color: #D3C3B9;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
}

.navbar > li:hover {
    background-color: #5c527f;
    transform: scale(1.15);
}

.navbar > li:active {
    background-color: #261c2c
}

li a {
    display: block;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 75%;
    margin: 0 auto;
    margin-top: 2vh;
}

hr {
    color:white;
    margin: 4vh 0;
}

footer {
    flex-direction: column;
    color:white;
}
.navbar footer li {
    transform:translateY(-50%);
}

.socials {
    flex-direction: column;
}

.social-logo {
    width: 1vw
}

main {
    margin: 1vh 1vw;
    margin-left: 17vw;
    height: 98vh;
    width: 83vw;
    flex-direction: column;
    text-align: center;
    color:white;
}

header {
    margin-bottom: 2vh;
    height: 25vh;
    justify-content: center;
    flex-direction: column;
}

header > h1{
    font-size: 4rem;
}

h3 {
    color: #818181;
    font-size: 1.5rem;
}


.banner {
    margin: 0 auto;
    overflow: hidden;
    width: 96%;
    height: 30vh;
    border-radius: 5vh;
}

.banner > img{
    transform:translateY(-30%);
}

main > div {
    margin: 1vh auto;
    margin-top: 4vh;
    font-size: 1.25rem;
    justify-content: center;
    height: 40vh;
    text-align: center;
    flex-direction: column;
}

main > div > p {
    text-align: center;
    margin: 0 auto;
    width: 95%;
}